<h1>Edit Post</h1>
<%= form_for @post do |f| %>
	<table>
		<tr>
			<td>Name: </td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td>Image: </td>
			<td><%= f.file_field :image %></td>
		</tr>
		<tr>
			<td>Content: </td>
			<td><%= f.text_field :content %></td>
		</tr>
		<tr>
			<td>Owner: </td>
			<td><%= f.text_field :user, value: @user.username,:readonly => true %></td>
		</tr>
		<tr>
			<td></td>
			<td><%= f.submit "Edit post" %></td>
		</tr>
	</table>
<% end %>
